CONFIG_I2C_XILINX=y
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_LOG_BUF_SHIFT=21
CONFIG_LOG_CPU_MAX_BUF_SHIFT=21
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=21
CONFIG_COMMON_CLK_DGLNT_DYNCLK=y
#
# Digilent HDMI support
#
CONFIG_DRM_XLNX_BRIDGE=y
CONFIG_DRM_XLNX_PL_DISP=y
CONFIG_DRM_XLNX_BRIDGE_VTC=y
CONFIG_DRM_DIGILENT_HDMI=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100
CONFIG_FB_NOTIFY=y
CONFIG_FB=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_DEFERRED_IO=y
#
# Frame buffer hardware drivers
#
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_FONT_SUPPORT=y
CONFIG_FONT_8x8=y
CONFIG_FONT_8x16=y
CONFIG_DRM_DIGILENT_HDMI=y
CONFIG_USB_SISUSBVGA=y
CONFIG_DRM_XLNX_HDMITX=y
CONFIG_DRM_XLNX_HDCP=y
CONFIG_XILINX_HDCP_COMMON=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_FB_XILINX=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_XILINX_GMII2RGMII=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_APERTURE_HELPERS=y
CONFIG_AUXDISPLAY=y
CONFIG_CHARLCD_BL_FLASH=y
CONFIG_DRM_GEM_SHMEM_HELPER=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_XLNX_HDMITX=y
CONFIG_DRM_XLNX_PL_DISP=y
CONFIG_DRM_XLNX_HDCP=y
CONFIG_FB=y
CONFIG_FB_CORE=y
CONFIG_FB_NOTIFY=y
CONFIG_FIRMWARE_EDID=y
CONFIG_FB_DEVICE=y
CONFIG_FB_FOREIGN_ENDIAN=y
CONFIG_FB_BOTH_ENDIAN=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_FB_TILEBLITTING=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_OTG=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_HCD_PCI=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_ONBOARD_DEV=y
CONFIG_TYPEC=y
CONFIG_XIL_AXIS_FIFO=y
CONFIG_XILINX_FCLK=y
CONFIG_XILINX_HDCP_COMMON=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_LIB_AES=y
