#include "system-conf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/xilinx-vip.h>

/ {
	model = "Zynq Zybo Z7 Development Board";
	compatible = "digilent,zynq-zyboz7", "xlnx,zynq-7000";

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	chosen {
		bootargs = "console=tty0 console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio";
	};
};

&gem0 {
	phy-handle = <&ethernet_phy>;
	ethernet_phy: ethernet-phy@0 {
		device_type = "ethernet-phy";
		reg = <0>;
		realtek,leds-config = <0x11 0x12 0x18>;
	};
};

&usb0 {
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};


&uart0 {
	status = "okay";
	current-speed = <115200>;
};