/include/ "system-conf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/xilinx-vip.h>

/ {
	model = "Zynq Zybo Z7 Development Board";
	compatible = "digilent,zynq-zyboz7", "xlnx,zynq-7000";

	chosen {
		bootargs = "console=tty0 console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	pcam_xclk: pcam-xclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	pcam_avdd: pcam-avdd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "pcam_avdd";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
	};

	pcam_dvdd: pcam-dvdd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "pcam_dvdd";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	pcam_dovdd: pcam-dovdd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "pcam_dovdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/*
	 * XSCT generates the CSI2 RX and AXI VDMA nodes from the XSA, but it
	 * doesn't assemble the final capture node that exposes the DMA-backed
	 * /dev/video pipeline. Keep that graph wiring here.
	 */
	vcap_pcam: vcap-pcam {
		compatible = "xlnx,video";
		dmas = <&axi_vdma_0 1>;
		dma-names = "port0";
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				direction = "input";

				vcap_pcam_in: endpoint {
					remote-endpoint = <&mipi_csirx_outmipi_csi2_rx_ss_0>;
				};
			};
		};
	};
};

&axi_vdma_0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	phy_type = "ulpi";
	usb-phy = <&usb_phy0>;
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	pcam_sensor: camera@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		clocks = <&pcam_xclk>;
		clock-names = "xclk";
		AVDD-supply = <&pcam_avdd>;
		DVDD-supply = <&pcam_dvdd>;
		DOVDD-supply = <&pcam_dovdd>;
		reset-gpios = <&gpio0 54 GPIO_ACTIVE_LOW>;
		status = "okay";

		port {
			pcam_sensor_out: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <400000000>;
				remote-endpoint = <&mipi_csi_inmipi_csi2_rx_ss_0>;
			};
		};
	};
};

&mipi_csi2_rx_ss_0 {
	status = "okay";
};

&mipi_csi_inmipi_csi2_rx_ss_0 {
	clock-lanes = <0>;
	data-lanes = <1 2>;
	link-frequencies = /bits/ 64 <400000000>;
	remote-endpoint = <&pcam_sensor_out>;
};

&mipi_csirx_outmipi_csi2_rx_ss_0 {
	xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
	xlnx,video-width = <10>;
	remote-endpoint = <&vcap_pcam_in>;
};
